/* 
	Global classes 
					*/
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.headbar {
  position:    relative;
  background:  #077705;
  box-shadow:  0px 2px 10px #333333;
  height:      60px;
  top:         0;
  width:       100%;
}

.Trend {
    font-size: 24px;
    position: relative;
    bottom: 30px;
    left: 100px;
}

.Rank {
    font-size: 24px;
    position: relative;
    bottom: 59px;
    left: 205px;
}

.Import {
    font-size: 24px;
    position: relative;
    bottom: 87px;
    left: 300px;
}

.Product {
    font-size: 24px;
    position: relative;
    bottom: 115px;
    left: 540px;
}

.navi a {
  color:           #F9F9F9;
  font-weight:     400;
  margin-left:     10px;
  margin-top: 10px;
  text-decoration: none;
}

.chart {
	background-color: white;
	float: left;
	height: 100%;
	width: 75%;
  margin-top: 60px;
  position: relative;
  left: 0;
}

#menuTitle {
  float: right;
}

#menuIcon {
  color: #90f999;
  float: right;
  margin-right: 20px;
}

#leaf {
  color:#90f999;
  font-size: 40px;
}


.sidenav {
  top: 0; 
  right: 0;
  overflow-x: hidden; 
  height: 100%; 
  width: 0; 
  position: fixed; 
  padding-top: 85px; 
  background-color: #90f999;
  overflow-x: hidden; 
  transition: 0.5s; 
}

.sidenav a {
    margin: 10px 10px 10px 40px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 45px;
    margin-left: 50px;
}


#lobutton {
	margin-top: 40px;
}


#pie_water {
	width: 100%;
	height: 50%;
}

#pie_co2 {
	width: 100%;
	height: 50%;
}

.dropbtn {
    background-color: #90f999;
    color: #818181;
    padding: 16px;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #90f999;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #818181;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #90f999;
}


/* ------------------- Chester Update ---------------- */


.dropbtn-co2 {
    background-color: #90f999;
    color: #818181;;
    padding: 16px;
    font-size: 16px;
}

.dropdown-co2 {
    position: relative;
    display: inline-block;
    top: 500px;
    right: 0;
}

.dropdown-content-co2 {
    display: none;
    position: absolute;
    background-color: #90f999;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content-co2 a {
    color: #818181;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-co2 a:hover {color: #f1f1f1;}

.dropdown-co2:hover .dropdown-content-co2 {
    display: block;
}

.dropdown-co2:hover .dropbtn-co2 {
    background-color: #90f999;
}

/* -----------------newImport style -----------------*/
.form {
    width: 40%;
    margin-left: 30%;
    margin-top:15%;
}

.date {
    font-size: 24px;
    margin-bottom: 25px;
    height: 28px;
}

.data-dropbtn-area {
    position: relative;
    left: 220px;
    bottom: 30px;
    margin-right: -100px;
}

.time {
    margin-bottom: 25px;
    font-size: 24px;
    height: 28px;
}

.time-dropbtn-area {
    position: relative;
    left: 220px;
    bottom: 30px;
    margin-right: -100px;
}


.type {
    margin-bottom: 25px;
    font-size: 24px;
    height: 28px;
}

.type-radiobox-area {
    position: relative;
    left: 220px;
    bottom: 30px;
    margin-right: -100px;
}

.amount {
    margin-bottom: 25px;
    font-size: 24px;
    height: 28px;
}

.amount-area {
    position: relative;
    left: 220px;
    bottom: 23px;
    margin-right: -100px;
}

#unit{
    position: relative;
    left: 150px;
    bottom: 47px;
}

.activity {
    margin-bottom: 25px;
    font-size: 24px;
    height: 28px;
}

.activity-area {
    position: relative;
    left: 220px;
    bottom: 23px;
    margin-right: -100px;
}

#waterdropdown{
    display: block;
}

#co2dropdown {
    display: none;;
}

a.button {
    -webkit-appearance: button;
    text-decoration: none;
    color: initial;
    width: 70px;
    position: relative;
    left: 150px;
    top: 50px;
    text-align: center;
}

a.submit{
    position: relative;
    width :40%;
    margin-left: 35%;
    top: 300px;
    font-size: 30px;
}